@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 2rem 0;
  background-color: hsl(0, 0%, 95%);
  font-size: 62.25%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    height: 100vh;
    padding: 0;
  }
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Lexend Deca", sans-serif;
}

/* web accessibility */
.sr-only {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* container */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    max-width: 840px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

.box {
  width: 100%;
  padding: 20px 24px 40px;

  @media screen and (min-width: 768px) {
    width: 33%;
    padding: 33px 35px 50px;
  }

  &:nth-of-type(1) {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    @media screen and (min-width: 768px) {
      border-top-right-radius: 0;
      border-bottom-left-radius: 10px;
    }
  }

  &:nth-of-type(2) {
    background-color: hsl(184, 100%, 22%);
  }

  &:nth-of-type(3) {
    background-color: hsl(179, 100%, 13%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    @media screen and (min-width: 768px) {
      border-bottom-left-radius: 0;
      border-top-right-radius: 10px;
    }
  }
}

.icon {
  height: 18px;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    height: 28px;
    margin-bottom: 30px;
  }

  img {
    height: 100%;
  }
}

.title {
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
  font-size: 1.5rem;
  font-family: "Big Shoulders Display", cursive;
  margin-bottom: 18px;

  @media screen and (min-width: 768px) {
    font-size: 2.2rem;
    margin-bottom: 28px;
  }
}

.text {
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 0.7rem;
  margin-bottom: 14px;
  line-height: 1.5;

  @media screen and (min-width: 768px) {
    font-size: 0.8rem;
    margin-bottom: 63px;
  }
}

.btn {
  text-decoration: none;
  background-color: hsl(0, 0%, 95%);
  font-size: 0.7rem;
  border: 2px solid hsl(0, 0%, 95%);
  border-radius: 25px;
  padding: 6px 13px;

  @media screen and (min-width: 768px) {
    font-size: 0.9rem;
    padding: 11px 22px;
  }

  &--first {
    color: hsl(31, 77%, 52%);
  }

  &--second {
    color: hsl(184, 100%, 22%);
  }

  &--third {
    color: hsl(179, 100%, 13%);
  }

  &:hover,
  &:focus {
    color:hsl(0, 0%, 95%);
    background-color: transparent;
  }
}

/* footer */
.footer {
  width: 100%;
  color: hsl(179, 100%, 13%);
  padding: 1rem 0;
  position: absolute;
  bottom: 0;
  text-align: right;

  .wrapper {
    font-size: 0.8rem;
  }
}

.link {
  color: hsl(179, 100%, 13%);
}